:root {
  --color-neutrals-0: #FFFFFF;
  --color-neutrals-0-opacity-01: rgba(255, 255, 255, .1);
  --color-neutrals-0-opacity-06: rgba(255, 255, 255, .6);
  --color-neutrals-100: #F8F9FA;
  --color-neutrals-300: #E5E9ED;
  --color-neutrals-400: #A6BDC8;
  --color-neutrals-500: #7F96A4;
  --color-neutrals-1000: #123646;
  --color-primary-100: #F6FDFE;
  --color-primary-200: #D1FCFD;
  --color-primary-500: #3CB7D1;
  --color-primary-600: #2B91B3;
  --color-primary-800: #135079;
  --color-success-500: #50BC25;
  --color-error-500: #FF4C52;
  --color-error-600: #DB374B;
  --color-error-700: #B72644;
}