/node_modules
/frontend/node_modules
/frontend/build/**
/dump
/logs
/client/node_modules
/app/components/usps-parser/node_modules
client/build
.env

yarn-error.log
yarn.lock
npm-debug.log

# WebStorm
/.idea
.env
ngrok
/docker

