.header{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 20px 0;
  border-bottom: 1px solid #000;
  .header__container{
    .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul{
        display: flex;
        margin: 0;
        justify-content: space-between;
        width: 30%;
      }
    }
  }
}