.btn{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
  font-family: 'Work Sans', sans-serif;
  padding: 5px 24px;
  border: none;
  color: var(--color-neutrals-0);
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  display: inline-block;
  &:focus{
    outline: none;
  }
  &.primary:not(:disabled){
    background-color: var(--color-primary-500);
    &:hover{
      background-color: var(--color-primary-600)
    }
    &:active{
      background-color: var(--color-primary-800)
    }
  }
  &.error:not(:disabled){
    background-color: var(--color-error-500);
    &:hover{
      background-color: var(--color-error-600)
    }
    &:active{
      background-color: var(--color-error-700)
    }
  }
  &.secondary{
    border: 1px solid var(--color-neutrals-300);
    color: var(--color-neutrals-500);
    background-color: transparent;
    &:hover{
      background-color: var(--color-primary-100);
      border-color: var(--color-primary-500);
      color: var(--color-primary-500);
    }
    &:active{
      background-color: var(--color-primary-200);
      border-color: var(--color-primary-500);
      color: var(--color-primary-500);
    }
  }
  &.wide{
    padding-left: 60px;
    padding-right: 60px;
  }
  &.full{
    width: 100%;
  }
  &.right{
    display: block;
    margin-left: auto;
  }
  &:disabled{
    background-color: var(--color-neutrals-300);
    cursor: not-allowed;
  }
}

.Mui-checked + .MuiFormControlLabel-label{
  .mataButton{
    &.secondary{
      background-color: var(--color-primary-200);
      border-color: var(--color-primary-500);
      color: var(--color-primary-500);
    }
  }
}